* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    background: #f4f4f4;
}

/* SIDEBAR */

.sidebar {
    width: 260px;
    height: 100vh;
    background: #4a4f56;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid white;
}

.sidebar h2 {
    margin-bottom: 30px;
    font-size: 18px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.sidebar nav a {
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.sidebar nav a:hover {
    background: #5e646d;
}

/* CONTENT */

.content {
    margin-left: 260px;
    width: calc(100% - 260px);
}

.section {
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section:nth-child(even) {
    background: white;
}

.section:nth-child(odd) {
    background: #e9e9e9;
}

.section h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.section p {
    font-size: 18px;
    max-width: 700px;
    line-height: 1.6;
}